

.main-img__inner {
    background-image: url(../../../img/main\ img.png);
    max-height: 437px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.main-img__blue-text {
    font-size: 128px;
    text-transform: uppercase;
    letter-spacing: 2%;
    color: var(--light-blue);
}

.main-img__text {
    font-size: 93px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2%;
}

@media (max-width: 902px) {
    .main-img__text {
        font-size: 73px;
    }
    .main-img__blue-text {
        font-size: 108px;
    }
}


@media (max-width: 610px) {
    .main-img__text {
        font-size: 50px;
    }
    .main-img__blue-text {
        font-size: 60px;
    }
}