



.main-slider__inner {
    user-select: none;
    position: relative;
    padding: 30px;
}

.main-slider__content {
    background-color: var(--white-blue);
    max-width: 1015px;
    max-height: 301px;
    margin: auto;
    padding: 4px 8px;
    overflow: hidden;
}

.main-slider__card {
    max-width: 327px;
    height: 293px;
    overflow: hidden;
    justify-self: center;
}

.main-slider__img {
    height: 100%;  
    max-width: 200%; 
    display: flex;
    align-items: center;
    justify-self: center;
}


.main-slider__btn {
    width: 60px;
    height: 60px;
    background-color: var(--ochre);
    border-radius: 100%;
    position: absolute;
    top: 40%;
    z-index: 20;
    transition: transform 0.3s, background-color 0.3s;

    &:hover {
        transform: scale(1.08);  
    }
}


.main-slider__btn--left {
    left: 40px;
}


.main-slider__btn--right {
    right: 40px;
}


.main-slider__inner2 { 
    @media (min-width: 903px) {
        display: none;
    }
}


@media (max-width: 902px) {
    .main-slider__inner {
        max-width: 80%;
        justify-self: center;
    }
    .main-slider__inner1 {
        display: none;
    }
    .main-slider__card2 {
        max-width: 100%;
        border-radius: 10px;
    }
}