

.footer__up {
    font-family: var(--second-family);
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__link {
    color: #e0e0e0;

    &:hover {
        color: #ffffff;
    }
}

.footer__right {
    display: flex;
    gap: 20px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 15px 15px;
    color: #cccccc;
    font-family: var(--second-family);
}

@media (max-width: 610px) {
    .footer__up {
        display: grid;
        padding: 10px;
    }
}